@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #38090d;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #dbd7d7;
}

.buttons {
  margin-bottom: 20px;
}

.buttons button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  background: #b8cacd;
  color: rgb(24, 9, 9);
  cursor: pointer;
  transition: background 0.3s;
}

.buttons button:hover {
  background: #4fdad5;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  /* border: 5px solid black; */
}

.item {
    /* border:5px solid black ; */
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.item img {
    display: flex;
  width: 300px;
  height: 300px;
  display: block;
  transition: transform 0.3s ease;
}


.item span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 600;
}

.item:hover img {
  transform: scale(1.1);
}

.item:hover span {
  opacity: 1;
}
